.bg-faq {
  width: 100%;
  height: auto; 
  background-color: #ffd2ea;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.faq-container {
  transition: height 0.3s ease;
  width: 90%; 
  max-width: 870px;
  margin: 0 auto; 
  position: relative;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  margin-bottom: 20px;
}

#curvyline {
  position: absolute;
  width: 200px;
  height: 22px;
  margin-top: 5%;
  margin-left: 26%;
}

.faq-content {
  text-align: justify;
  margin: 20px 0; 
}

.faq-content p {
  color: black;
  padding-top: 2px;
  width: 100%;
  padding-bottom: 8px;
  overflow: hidden;
  transition: height 0.3s ease, padding 0.3s ease;
  font-weight: lighter;
}

.faq-line {
  width: 90%;
  height: 2px; 
  background-color: #e490b7;
  margin: 10px auto; 
}

.faq-item {
  margin-bottom: 1rem;
  width: 100%; 
}

.faq-question-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.faq-question {
  margin: 0;
  flex-grow: 1; 
}

.transparent-button {
  background-color: transparent;
  border: none; 
  cursor: pointer;
  margin-left: 10px; 
}

#puzzle {
  position: absolute;
  margin-top: 10%; 
  margin-left: -85%;
  width: 70px; 
}

#tower {
  position: absolute;
  margin-top: 10%;
  margin-right: -86%; 
  width: 70px; 
}

@media (max-width: 768px) {
  .faq-container {
      width: 95%; 
  }

  #curvyline {
      width: 150px; 
  }
}

@media (max-width: 768px) {
    .faq-container {
        width: 95%; 
    }

    .faq-header {
        flex-direction: column; 
        align-items: center; 
    }

    .faq-header h2 {
        margin: 10px 0; 
    }

    #curvyline {
        width: 150px; 
    }
}

@media (max-width: 580px) {
    .bg-faq {
        padding-top: 50px; 
    }

    .faq-container {
        width: 100%; 
    }

    .faq-header {
        flex-direction: column; 
        align-items: center; 
    }

    #curvyline {
        width: 120px; 
    }
}
