/* faq*/

.bg-faq {
    width: 100%;
    height: 550px;
    background-color: #ffd2ea;
    padding-top: 70px;
    display: flex;
  }
  
  .faq-container {
    transition: height 0.3s ease;
    width: 870px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 160px;
  }
  
  .faq-content {
    text-align: justify;
    margin-left: 110px;
    transition: height 0.3s ease;
  }
  
  .faq-content p {
    color: black;
    padding-top: 2px;
    width: 90%;
    padding-bottom: 8px;
    overflow: hidden;
    transition: height 0.3s ease, padding 0.3s ease;
    font-weight: lighter;
  }
  
  .faq-line {
    width: 90%;
    height: 2px; /* Adjust the height to make the line thicker or thinner */
    background-color: #e490b7;
    margin-top: 10px;
  }
  
  #curvyline {
    position: relative;
    top: 65px;
    left: 46%;
    width: 200px;
    height: 22px;
  }
  
  /* Add these styles */
  .faq-item {
    margin-bottom: 1rem;
  }
  
  .faq-question-container {
    display: flex;
    justify-content: space-between; /* Align items to the edges of the container */
    align-items: center; /* Align items vertically centered */
  }
  
  .faq-question {
    margin: 0;
    flex-grow: 1; /* Allows the question to take up the remaining space */
  }
  
  .transparent-button {
    background-color: transparent; /* Makes the button background transparent */
    border: none; /* Removes the border */
    cursor: pointer; /* Changes the cursor to pointer on hover */
    margin-right: 65px; /* Remove padding to ensure button size fits the image */
    font-size: 0; /* Remove font size if no text is used */
  }
  
  #puzzle {
    width: 70px;
    height: 90px;
    position: relative;
    top: 30%;
    left: 12%;
  }
  
  #tower {
    width: 70px;
    height: 180px;
    position: relative;
    top: 60%;
    left: 85%;
  }
  