
/*footer*/
.footer {
    background-color: #f55daf;
    height: 400px;
    margin-top: 0px;
  }
  
  #footer {
    width: 100%;
    position: relative;
    top: 20px;
  }
  
  .footer-container {
    letter-spacing: 1px;
  
    font-size: 16px;
    color: #decdff;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
  }
  .top {
    display: flex;
  }
  .logo img {
    padding-bottom: 30px;
  }
  .social-media {
    padding-left: 30px;
  }
  .social-media img {
    height: 30px;
    width: 30px;
    padding: 10px;
  }
  .quick-links {
    width: 200px;
    letter-spacing: 1px;
  
    padding-left: 10%;
    color: #decdff;
  }
  .quick-links p {
    letter-spacing: 2px;
  
    font-weight: bold;
  }
  .quick-links a {
    font-weight: normal;
    padding-bottom: 10px;
  
    color: #decdff;
    display: block;
    text-decoration: none;
  }
  .address {
    width: 250px;
    line-height: 22px;
  }
  .address p {
    font-weight: normal;
  }
  .address h5 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
  }
  .footer-line {
    width: 100%;
    height: 1px; /* Adjust the height to make the line thicker or thinner */
    background-color: hsl(0, 24%, 93%); /* Adjust color to match your design */
    margin-top: 10px; /* Adjust spacing between navbar and line */
  }
  .bottom {
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
  }
  