body {
  font-family: "Inter", sans-serif;
  background: #feeef9;
  font-weight: 600;
}

.navbar {
  display: flex;
  align-items: center;
  max-height: 78px;
  margin-right: 20px;
}
.navbar a {
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 60px;
}

.navbar a:hover {
  background-color: #f55dafAF; /* Change background color to pink on hover */ 
  border-radius: 5px;
}


.navbar button {
  margin-left: 0px;
  margin-left: 50px;
  font-size: 18px;
  font-weight: 600;
  height: 30px;
  background-color: #f55daf;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.767);
  cursor: pointer;
  align-items: center;
}



.navbar img {
  width: 98px;
  height: 62px;
  padding-left: 152px;
  padding-right: 150px;
  top: 6px;
}

.navbar-line {
  width: 100%;
  height: 2px; /* Adjust the height to make the line thicker or thinner */
  background-color: hsl(0, 0%, 0%); /* Adjust color to match your design */
  margin-top: 2px; /* Adjust spacing between navbar and line */
}

.hero-container {
  height: fit-content;
  display: flex;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}
.hero-text {
  padding-top: 50px;
  width: 700px;
}
.hero-text p {
  font-size: 20px;
  margin-bottom: 10px;
}
.hero-text #text1 {
  font-size: 48px;
  margin-top: 10px;
  font-weight: 600;
}
.hero-text h2 {
  font-size: 64px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  padding: 10px;
}
.hero-text h3 {
  font-size: 28px;
}
.text {
  display: flex;
  align-items: center;
}
#hero-bt {
  background-color: transparent; 
  margin-top: 50px;
  margin-bottom: 30px;
  cursor: pointer;
  border: none;
 
  padding: 0;
}

.hero-images {
  position: absolute;
  padding-left: 35%;
}

.star img {
  width: 25px;
  height: 25px;
  padding-top: 20px;
}
.star {
  display: flex;
}

.early-education {
  border-radius: 60px;
  background-color: #f55daf;
  height: fit-content;
  display: flex;
}
.early-education-container {
  display: flex;
  width: 85%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}
.early-education-text {
  color: aliceblue;
  font-size: 48px;
  font-weight: 400;
  width: 700px;
}

.blue-box {
  height: 390px;
  width: 590px;
  background-color: #89e3ff;
  border-radius: 35px;
}

.white-box {
  height: 370px;
  width: 570px;
  background-color: #feeef9;
  border-radius: 35px;
  border: #0c0c0c solid 2px;
}
.white-box p {
  color: #0c0c0c;
  font-size: 28px;
  text-align: center;
  font-weight: 600;
}
.white-box #box-text {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 24px;
  font-weight: 200;
  text-align: justify;
}
.white-box button {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  left: 50%;
  border: #0c0c0c solid 3px;
  border-radius: 40px;
  height: 48px;
  width: 144px;
  background: #89e3ff;
  cursor: pointer;
}
.box-image {
  display: flex;
}
.box-image img {
  margin-left: 50px;
}
.box-image2 #img1 {
  padding-left: 60%;
  padding-top: 40px;
  height: 114px;
  width: 114px;
}
.box-image2 #img2 {
  padding-top: 30px;
  padding-left: 8%;
  height: 400px;
  width: 400px;
}

/*about*/
.About {
  background-color: #decdff;
}
.about-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  display: flex;
}
.about-text {
  width: 760px;
  padding-bottom: 0px;
}
.about-text h1 {
  font-size: 32px;
  font-weight: 600;
}
.about-text P {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  word-spacing: 5px;
  line-height: 35px;
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 10px;
}
.about-container2 {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

/*mission*/
.mission {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
}
.mission-container {
  width: 995px;
  height: 320px;
  border: #0c0c0c solid;
  border-radius: 20px;
  display: flex;
}

.mission-image img {
  padding-top: 15%;
  width: 400px;
  height: 200px;
}
.mission-text {
  width: 520px;
  margin-left: auto;
  margin-right: auto;
}
.mission-text h3 {
  margin-top: 30px;
  margin-bottom: 3px;
  font-size: 36px;
  font-weight: 600;
}
.mission-text p {
  font-size: 20px;
  font-weight: lighter;
  line-height: 35px;
}
.mission #line {
  height: 108px;
  width: 117px;
  padding-top: 10%;
}

/*vision*/
.vision {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
}
.vision-container {
  width: 995px;
  height: 320px;
  border: #0c0c0c solid;
  border-radius: 20px;
  display: flex;
}

.vision-image img {
  padding-top: 15%;
  width: 400px;
  height: 200px;
}
.vision-text {
  width: 520px;
  margin-left: auto;
  margin-right: auto;
}
.vision-text h3 {
  margin-top: 30px;
  margin-bottom: 3px;
  font-size: 36px;
  font-weight: 600;
}
.vision-text p {
  font-size: 20px;
  font-weight: lighter;
  line-height: 35px;
}
.vision #green-star {
  height: 107px;
  width: 100px;
  padding-top: 17%;
  padding-right: 10px;
}

/*awards*/

.award {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
}
.award-container {
  width: 995px;
  height: 320px;
  border: #0c0c0c solid;
  border-radius: 20px;
  display: flex;
}

.award-image img {
  padding-top: 15%;
  width: 400px;
  height: 200px;
}
.award-text {
  width: 520px;
  margin-left: auto;
  margin-right: auto;
}
.award-text h3 {
  margin-top: 30px;
  margin-bottom: 3px;
  font-size: 36px;
  font-weight: 600;
}
.award-text p {
  font-size: 20px;
  font-weight: lighter;
  line-height: 35px;
}
.award #pink-star {
  height: 86px;
  width: 86px;
  padding-top: 10%;
  padding-left: 10px;
}

/*footer*/
.footer {
  background-color: #f55daf;
  height: 400px;
  margin-top: 0px;
}

#footer {
  width: 100%;
  position: relative;
  top: 20px;
}

.footer-container {
  letter-spacing: 1px;

  font-size: 16px;
  color: #decdff;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
.top {
  display: flex;
}
.logo img {
  padding-bottom: 30px;
}
.social-media {
  padding-left: 30px;
}
.social-media img {
  height: 30px;
  width: 30px;
  padding: 10px;
}
.quick-links {
  width: 200px;
  letter-spacing: 1px;

  padding-left: 10%;
  color: #decdff;
}
.quick-links p {
  letter-spacing: 2px;

  font-weight: bold;
}
.quick-links a {
  font-weight: normal;
  padding-bottom: 10px;

  color: #decdff;
  display: block;
  text-decoration: none;
}
.address {
  width: 250px;
  line-height: 22px;
}
.address p {
  font-weight: normal;
}
.address h5 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: bold;
}
.footer-line {
  width: 100%;
  height: 1px; /* Adjust the height to make the line thicker or thinner */
  background-color: hsl(0, 24%, 93%); /* Adjust color to match your design */
  margin-top: 10px; /* Adjust spacing between navbar and line */
}
.bottom {
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
}

/*features*/
.features-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

#strikeline{
position: relative;
left:12%;
top: 95px;
height: 20px;
width: 170px;
}

.heading {
  text-align: center;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}
.heading h1 {
  font-size: 40px;
}
.heading p {
  font-size: 22px;
  font-weight: lighter;
}
.feature-cards {
  display: block;
}
.row {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.card {
  width: 260px;
  height: 300px;
  border: #f55daf solid 2px;
  border-radius: 20px;
  text-align: center;
}
.card-text {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  color: #4a4a4a;
  font-weight: normal;
  word-spacing: 2px;
}
.card img {
  height: 82px;
  width: 82px;
  padding-top: 15%;
}

/*parent-speak*/
.parent-speak-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}
.pscard-container {
  padding-top: 20px;
  justify-content: space-between;
  height: 350px;
  display: flex;
  align-items: center;
}

#speakstrike{
  position: relative;
  top: 94px;
  width: 130px;
  left: 15%;
}

.review-box {
  padding-top: 0%;
  display: block;
  text-align: center;
  height: fit-content;
}
.review-box #profile {
  height: 100px;
  width: 101px;
  position: relative;
  top: 50px;
}
.pscard {
  width: 600px;
  height: 350px;
  border: #f55daf solid 2px;
  border-radius: 20px;
  border-bottom: #f55daf solid 5px;
  border-left: #f55daf solid 5px;
}
.pscard h1 {
  padding-top: 40px;
  margin-bottom: 0px;
}
.pscard-container button {
  width: 44px;
  height: 44px;
  border-style: none;
}

.review {
  width: 550px;
  margin-right: auto;
  margin-left: auto;
}
.review p {
  font-weight: lighter;
  word-spacing: 2px;
}

/* faq*/

.bg-faq {
  width: 100%;
  height: 550px;
  background-color: #FFD2EA;
  padding-top: 70px;
  display: flex;
}

.faq-container {
  transition: height 0.3s ease;
  width: 870px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right:160px;
}

.faq-content {
  text-align: justify;
  margin-left: 110px;
  transition: height 0.3s ease;
}

.faq-content p {
  color: black;
  padding-top: 7px;
  width: 90%;
  padding-bottom: 10px;
  overflow: hidden;
  transition: height 0.3s ease, padding 0.3s ease;
  font-weight: lighter;
}
.faq-line {
  width: 90%;
  height: 2px; /* Adjust the height to make the line thicker or thinner */
  background-color: #e490b7;
}

#curvyline {
  position: relative;
  top: 65px;
  left: 46%;
  width: 200px;
  height: 22px;
}

.transparent-button {
  background-color: transparent; /* Makes the button background transparent */
  border: none; /* Removes the border */
  cursor: pointer; /* Changes the cursor to pointer on hover */
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
}


#puzzle {
  width: 70px;
  height: 90px;
  position: relative;
  top: 30%;
  left: 12%;
}

#tower {
  width: 70px;
  height: 180px;
  position: relative;
  top: 60%;
  left: 85%;
}

.admission-main {
  text-align: center;
  height: 600px;
}

.admission-content {
  width: 70%;
  height: 60%;
  display: flex;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
#strike {
  position: relative;
  width: 140px;
  height: 20px;
  left: 8%;
  bottom: 6%;
}
.adm-details {
  width: 50%;
  height: 60%;
  text-align: left;
  color: #ff0099;
  word-spacing: 2px;
}

.adm-details p {
  margin-left: 40px;
  margin-right: 20px;
}

.adm-text img {
  height: 40px;
  width: 50px;
}
.adm-text {
  align-items: center;
  display: flex;
  padding-bottom: 20px;
}

.adm-cred {
  border: #f55daf solid 1px;
  border-radius: 8px;
  width: 50%;
}

#name {
  width: 70%;
  height: 20px;
  border: #f55daf solid 1px;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

#email {
  width: 70%;
  height: 20px;
  border: #f55daf solid 1px;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

#phone {
  width: 70%;
  height: 20px;
  border: #f55daf solid 1px;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

#pin {
  width: 70%;
  height: 20px;
  border: #f55daf solid 1px;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

#submit {
  border-radius: 15px;
  width: 73%;
  height: 30px;
  background-color: #f55daf;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.adm-cred h4 {
  text-align: left;
  font-size: 20px;
  margin-left: 50px;
  color: #f55daf;
  font-weight: lighter;
}

/*gallery*/

.gallery-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 100px;
}
.gallery-images {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
.gallery-images img {
  padding-bottom: 10px;
}
#gal-line {
  width: 140px;
  height: 13px;
  position: relative;
  bottom: 37px;
  left: 40px;
}
.gallery-container button {
  width: 160px;
  height: 40px;
  border-radius: 19px;
  border: #0c0c0c solid 1.5px;
  background-color: #f55daf;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}



.title{
  text-align: center;
  font-weight: 600px;
  font-family: sans-serif;
  padding-top: 25px;
}

.title-image{
  height: 239px;
  width: 362px;
  margin-left: 90px;
}

.title-text1{
  text-align: justify;
  line-height: 1.5;
  margin-left: 20px;
  margin-right:90px;
  word-spacing: 4px;

}

.title-text2{
  text-align: justify;
  line-height: 1.5;
  margin-left:90px;
  margin-right:90px;
  position: relative; 
  bottom: 25px;
  word-spacing: 4px;

}

.background{
  display: flex;
}